*{
    /* background-color: black; */
}
.loader
{
    width: 120px;
    height: 120px;
    border-top: 18px solid rgb(139, 23, 23);
    border-bottom: 18px solid rgb(90, 0, 0);
    border-left: 18px solid rgb(90, 0, 0);
    border-right: 18px solid rgb(90, 0, 0);
    position: fixed;
    border-radius: 50%;
    top :50%;
    left :50%;
    margin-top: -50px;
    margin-left: -100px;
    animation: spin 2s linear infinite;
}

@keyframes spin 
{
    0% 
    { 
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}